.scrollToTopBtn {
	position: fixed;
	bottom: 6.5rem;
	right: 2rem;
	cursor: pointer;
	height: 4.1rem;
	width: 4.1rem;
	z-index: 100;
	border-radius: 40em;
	font-size: 1.8rem;
	font-weight: 700;
	color: white;
	text-align: center;
	letter-spacing: -0.24px;
	backdrop-filter: blur(7px) saturate(191%);
	background-color: rgba(43, 52, 76, 0.56);
	border: 1px solid rgba(255, 255, 255, 0.125);
	opacity: 0;
	transform: translateY(1.5rem);
	pointer-events: none;
	transition: opacity 0.25s var(--ease-pro), transform 0.25s var(--ease-pro);
}
.scrollVisible {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}
